In [1]:
import pandas as pd

In [22]:
data = [
    {
        "manager": "Vasiliy",
        "sales": 2
    },
    {
        "manager": "Vasiliy",
        "sales": 3
    },
    {
        "manager": "Vasiliy",
        "sales": 4
    },
    {
        "manager": "Victor",
        "sales": 4
    },
]

In [23]:
df = pd.DataFrame(data)

In [50]:
pivot_df = df.pivot_table(index="manager", aggfunc=["count", "sum"]).to_dict("index")
pivot_df.update({key: [*value.values()] for key, value in pivot_df.items()})
pivot_df

{'Vasiliy': [3, 9], 'Victor': [1, 4]}

In [73]:
manager_stats = df.groupby('manager')['sales'].agg(['sum', 'count']).to_dict("index")
manager_stats.update({key: [*value.values()] for key, value in manager_stats.items()})

In [74]:
manager_stats

{'Vasiliy': [9, 3], 'Victor': [4, 1]}

In [75]:
manager_stats = df.groupby('manager')['sales'].agg(['count', 'sum']).to_dict("index")
# manager_stats.update({key: [*value.values()] for key, value in manager_stats.items()})

for k, v in manager_stats.items():
    manager_stats[k] = [*v.values()]

In [76]:
manager_stats

{'Vasiliy': [3, 9], 'Victor': [1, 4]}

In [68]:
result = df.groupby('manager')['sales'].agg(['sum', 'count']).to_dict("index")

In [69]:
result.to_dict("index")

{'Vasiliy': {'sum': 9, 'count': 3}, 'Victor': {'sum': 4, 'count': 1}}

In [63]:
manager_stats

{'Vasiliy': [3, 9], 'Victor': [1, 4]}

In [54]:
(result := df.pivot_table(index="manager", aggfunc=["count", "sum"])\
    .to_dict("index"))\
    .update({key: [*value.values()] for key, value in result.items()})

In [55]:
pivot_df

{'Vasiliy': [3, 9], 'Victor': [1, 4]}

In [33]:
print(l)

        count   sum
        sales sales
manager
Vasiliy     3     9
Victor      1     4